* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    font-size: 1.5rem;
    font-family: "Cairo", sans-serif;
}

.main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.top-marquee{
    display: flex;
    width: 100vw;
    justify-content: right;
    padding: 20px;
    gap: 25px;
    font-weight: 100; 
    color: #fff;
}

.top-item{
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out, font-weight 0.3s ease-in-out;
    padding: 0%;
}

.top-item:hover {
    box-shadow: inset 0 0 100vw 0 #b5d62b;
    font-weight: bolder;
    color: white;

}

.bottom-marquee{
    display: flex;
    width: 100vw;
    justify-content: right;
    padding: 20px;
    gap: 25px;   
    font-weight: 100; 
    justify-content: space-between;
}

.COPYRIGHT{
    color: #c6c6c6;
}

.SOON{
    color: #b5d62b;
    font-weight: 900;
}


@media screen and (max-width: 900px) {
    .top-item {
      font-size: 1.5rem; 
    }
  }

  @media screen and (max-width: 650px) {
    .top-item {
      font-size: 1rem; 
    }
  }

  @media screen and (max-width: 450px) {
    .top-item {
      font-size: 0.5em; 
    }

    .top-marquee {
        justify-content: space-between;
    }
}

a {
    text-decoration: none;
}

a:link { /* Unvisited links */
    color: #c6c6c6; /* Current gray */
    text-decoration: none;
}

a:visited { /* Visited links */
    color: #c6c6c6; /* Keep same gray for visited */
    text-decoration: none;
}

a:hover { /* On hover */
    color: white;
}


